body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content > h1 {
  margin-bottom: 40px;
}

table {
  width: 400px;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid grey;
  line-height: 18pt;
  padding: 4px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #e2dbe1;
}

#mapa path.highlighted {
  fill: royalblue;
}

#mapa path {
  fill: #c7c3c7;
  stroke: #ffffff;
  transition-property: fill;
  transition-duration: 0.4s
}

#mapa path:hover {
  fill: blueviolet;  
  cursor: pointer;
}

#presentation {
  display: flex;
}

#presentation > div {
  margin: 12px
}

#chart {
  width: 900px;
  height: 500px
}

#form {
  display: flex
}

#form > div {
  margin: 2em;
  min-width: 15em
}
